@model MemberUserModel


<div class="modal" id="editMemberModal_@Model.Id">
    <div class="modal-container">
        <div class="top">
            <h3>Edit Member</h3>
            <button type="button" class="exit" data-close="true">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <form class="form" method="post" asp-action="EditMember" asp-route-id="@Model.Id" enctype="multipart/form-data" novalidate>
            <input type="hidden" id="existringUrl_@Model.Id" name="existingUrl" value="@Model.ImageUrl" />

            <div class="image-preview-container">
                <div id="circle_@Model.Id" class="border-circle show" style="border: none; cursor: pointer;">
                    <img id="image-preview_@Model.Id" class="image-preview show" src="@Model.ImageUrl" />
                </div>
            </div>

            <div class="form-inputs-container">
                <div class="form-group">
                    <label asp-for="ProfileImage" hidden></label>
                    <input id="input_@Model.Id" asp-for="ProfileImage" class="image-input" accept="image/*" hidden />
                    <span asp-validation-for="ProfileImage"></span>
                </div>

                <div class="form-group">
                    <div class="input-container">
                        <label class="label" asp-for="FirstName"></label>
                        <input type="text" class="input" asp-for="FirstName">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="input-container">
                        <label class="label" asp-for="LastName"></label>
                        <input type="text" class="input" asp-for="LastName">
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>

                <div class="input-container">
                    <label class="label" asp-for="Email"></label>
                    <input type="email" class="input" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="input-container">
                    <label class="label" asp-for="PhoneNumber"></label>
                    <input type="text" class="input" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>

                <div class="form-group">
                    <div class="input-container">
                        <label class="label" asp-for="JobTitle"></label>
                        <input type="text" class="input" asp-for="JobTitle">
                        <span asp-validation-for="JobTitle"></span>
                    </div>

                    <div class="input-container">
                        <label class="label" asp-for="RoleId">Role</label>
                        <select id="role" class="input" asp-for="RoleId" asp-items="ViewBag.Roles">
                            <option value="">Select a role...</option> 
                        </select>
                        <span asp-validation-for="RoleId"></span>
                    </div>
                </div>

                <div class="input-container">
                    <label class="label" asp-for="StreetAddress"></label>
                    <input type="text" class="input street" asp-for="StreetAddress">
                    <span asp-validation-for="StreetAddress"></span>
                </div>

                <div class="form-group">
                    <div class="input-container">
                        <label class="label" asp-for="PostalCode"></label>
                        <input class="input postal-code" asp-for="PostalCode">
                        <span asp-validation-for="PostalCode" class="postal-span"></span>
                    </div>
                    <div class="input-container">
                        <label class="label" asp-for="City"></label>
                        <input type="text" class="input city" asp-for="City">
                        <span asp-validation-for="City" class="city-span"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="day">
                        <label class="label day-label" asp-for="BirthDay">Day</label>
                        <select id="day" class="input day" asp-for="BirthDay">
                            <option value="@Model.BirthDay">@Model.BirthDay</option>
                            @for (int i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="BirthDay"></span>
                    </div>
                    <div class="month">
                        <label class="label birth-label" asp-for="BirthMonth">Month</label>
                        <select id="month" class="input month" asp-for="BirthMonth">
                            <option value="@Model.BirthMonth">@Model.BirthMonth</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@i)</option>
                            }
                        </select>
                        <span asp-validation-for="BirthMonth"></span>
                    </div>
                    <div class="year">
                        <label class="label birth-label" asp-for="BirthYear">Year</label>
                        <select id="year" class="input year" asp-for="BirthYear">
                            <option value="@Model.BirthYear">@Model.BirthYear</option>
                            @for (int i = DateTime.Now.Year; i >= 1900; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="BirthYear"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn" data-member-id="@Model.Id">
                Save Changes
            </button>
        </form>
    </div>
</div>


@await Html.PartialAsync("_ValidationScriptsPartial")


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const imageInput = document.querySelector("#input_@Model.Id");
        const circle = document.querySelector("#circle_@Model.Id");

        if (!imageInput) return;

        circle.addEventListener("click", () => {
            imageInput.click();
            console.log("1");
        });

        imageInput.addEventListener("change", (e) => {
            console.log("2");
            const image = e.target.files[0];
            const imagePreview = document.querySelector("#image-preview_@Model.Id");

            console.log("3");
            if (image) {
                console.log("4");
                const reader = new FileReader();

                reader.onload = (e) => {
                    console.log("5");
                    imagePreview.src = e.target.result;
                };
                console.log("6");
                reader.readAsDataURL(image);
            } 
            else {
                console.log("7");
            }
        })


        document.addEventListener('click', (e) => {
        const modals = document.querySelectorAll('editMemberModal_@Model.Id');

            modals.forEach(modal => {
                const modalContainer = modal.querySelector('.modal-container');
                const exitButton = modal.querySelector('[data-close="true"]');

                if (!modalContainer.contains(e.target) || exitButton.contains(e.target)) {
                    modal.classList.remove('show');

                    modal.querySelectorAll('form').forEach(form => {
                        form.reset();

                        const imagePreview = form.querySelector('#edit-image-preview');
                        if (imagePreview) {
                            imagePreview.src = '';
                            imagePreview.classList.remove('show');
                        }

                        const container = form.querySelector('#edit-circle');
                        if (container)
                            container.classList.add('show');
                    })
                }
            });
        });                             
    })
</script>