@model UserModel

@{
    ViewData["Css"] = "~/css/admin.css"; 
}

<div class="card">
    <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
    <img class="profile" src="@Model.ProfilePicture" alt="A profile picture.">
    <h4>@Model.FirstName @Model.LastName</h4>
    <p class="role">@Model.JobTitle</p>
    <p class="email">@Model.Email</p>
    <p class="phone">@Model.PhoneNumber</p>
    <div class="btn message">Message</div>
</div>
