@using System.Text.Json
@model ProjectCardModel

@{
    ViewData["Css"] = "~/css/home.css";
    Console.WriteLine(Model.EndDate);
    var editProjectForm = new EditProjectFormModel
                        {
                            Id = Model.Id,
                            ProjectTitle = Model.ProjectTitle,
                            Description = Model.Description,
                            ClientName = Model.ClientName,
                            StartDate = Model.StartDate,
                            EndDate = Model.EndDate,
                            Budget = Model.Budget,
                            ImageUrl = Model.ImageUrl,
                            MemberUsers = Model.MemberUsers.ToList()
                        };                                            
}

@await Html.PartialAsync("Sections/_EditProjectSection", editProjectForm)

<div id="project-card" class="card" data-status="@Model.StatusName.ToLower()">
    <div class="project-head">
        <img class="project-image" src="@Model.ImageUrl" alt="Project image." />
        <div class="title-group">
            <h6>@Model.ProjectTitle</h6>
            <p class="customer">@Model.ClientName</p>
        </div>
        <div class="dropdown-container">
            <img id="menu-button" class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
            <div class="dropdown-content">
                <button id="edit-project-button" class="menu-option option-edit" data-modal="true" data-target="#editProjectModal_@Model.Id" data-project-id="@Model.Id">Edit Project</button>
                <div class="stroke"></div>
                <form class="dropdown-form" method="post" asp-action="DeleteProject" asp-route-id="@Model.Id" asp-controller="Project">
                    <button type="submit" class="menu-option option-delete">Delete Project</button>
                </form>
            </div>
        </div>
    </div>
    <div class="description">
        @Model.Description
    </div>
    <div class="extras">
        <span id="countDown_@Model.Id" class="status"></span>
        <div class="profile-group">
            @foreach (var member in @Model.MemberUsers) 
            {
                <img class="profile-img" src="@member.ImageUrl" />
            }
        </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {

            const endDate = '@Model.EndDate?.ToString("yyyy-MM-dd")';
            const startDate = '@Model.StartDate?.ToString("yyyy-MM-dd")';

            window.setupCountdown('@Model.Id', endDate, startDate);     });
</script>

